$font-color: #050247;
$bg-color: #ffffff;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
}

body {
  background-color: $bg-color;
  font-family: 'Rubik';
  font-weight: 400;
  color: $font-color;
}

a,
a:visited {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

.d-flex {
  display: flex;
}

.container {
  max-width: 56rem;
  margin: 0 auto;
}

.navbar .container {
  justify-content: space-between;
}

.navbar .brand {
  font-weight: 700;
  text-transform: uppercase;
}

.btn {
  display: block;
  max-width: fit-content;
  border-radius: 6px;
  background-color: #191919;
  color: #fff;
  padding: 10px 24px;
  font-weight: 700;
  transition: background-color 0.32s ease, color 0.2s ease;
  font-size: 14px;
  box-shadow: none;
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}

.btn-large {
  padding: 14px 18px;
}

.btn-grey {
  background-color: #f2f2f2;
  color: #191919;
}

.post-preview__description {
  margin-bottom: 1rem;
}
